body{
  width: auto;
  height: auto;
  background: radial-gradient(#FF0461, #9941D8);
  text-align:  center;
}

header{
  width: auto;
  height: auto;
  background-color: #fff;
  text-align:  center;
}

.title{
  font-size: 35px;
  font-weight: 700;
  width: 100%;
  margin: 0%;
}



.nav li{
  text-align:  center;
  background-color: transparent;
  list-style: none;
  float: left;
  
 
}

h1{
  float: none;
  margin: 200px ;
  background-color: transparent;
}



